@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:wght@300&family=Roboto:wght@500;700&family=Source+Code+Pro:ital@1&display=swap');

body {
   margin-top: 0;
  padding-top: 0;
  background: #eee !important;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
  
.checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 20px;
    height: 40px;
    padding: 10px;

  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom:20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

.services{
  display: flex;
  justify-content: space-between;
  margin: top 30px;
}
.services img{
width: 430p;
height:243px ;
border: radius 20px; 
margin-bottom: 50px;
}
.icons-recipes img{
  width:25px;
  height: 29px;
}
.icons-recipes button {
  background-color: transparent;
  border: none;
  
}
.icons-recipes{
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin-bottom: 50px;
}
.recipes{
  display: flex;
  flex-direction:column ;
  align-items: center;
  justify-content: center;
}

